.cell-num {
  white-space:nowrap;
  text-align:right
}
.cell-fixed {
  width:1px;
  white-space:nowrap
}
.infocard-cell-img {
  margin-right:.25rem
}
.img-fixed {
  display:inline-block;
  max-width:none;
  vertical-align:middle
}
.icon-pkmn {
  width:40px;
  height:40px
 }
 .infocard-cell-img,.infocard-cell-data {
  display:inline-block;
  vertical-align:middle
 }